YTPI_HOST=0.0.0.0
YTPI_PORT=7434
YTPI_DOWNLOADS_DIR=./downloads
YTPI_DB_PATH=./jobs.db
YTPI_ALLOWED_CIDRS=127.0.0.0/8,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16,::1/128
YTPI_TRUST_PROXY=0
YTPI_ENABLE_SHARE_GET=1
YTPI_SHARE_TOKEN=
YTPI_MAX_QUEUE_SIZE=200
YTPI_MAX_WORKERS=1
YTPI_JOB_TIMEOUT_SECONDS=3600
YTPI_MAX_RETRIES=1
YTPI_MAX_OUTPUT_CHARS=8000
YTPI_JOB_RETENTION_HOURS=168
YTPI_MAX_HISTORY_JOBS=2000
YTPI_FFMPEG_PATH=
YTPI_YTDLP_BIN=yt-dlp
