[Unit]
Description=YouTube Video Downloader Service
After=network.target

[Service]
Type=simple
User=runneruser
WorkingDirectory=/home/runneruser/services/ytpi
Environment=PATH=/home/runneruser/services/ytpi/venv/bin
ExecStart=/home/runneruser/services/ytpi/venv/bin/python app.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
